{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="A website for watching animes.">
    <meta name="author" content="Bowen Mao">
    {% block pre_head_block %}{% endblock %}
    <link href="{% static "anime/css/main.css" %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.9.0/tachyons.min.css'>
    {% block post_head_block %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/anime">an·i·me</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/anime">Home</a></li>
                    <li><a target="_blank" href="https://github.com/maobowen/anime_django">Github</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block body_block %}{% endblock %}
    <footer>
        <p>© Bowen Mao {% now 'Y' %}. All Rights Reserved.</p>
        <p>Theme adapted from <a target="_blank" href="http://sachinchoolur.github.io/lightGallery/">LightGallery</a>.</p>
        <a target="_blank" href="https://github.com/maobowen" class="f2 fa fa-github"></a>
        <a target="_blank" href="https://facebook.com/maobowen" class="f2 fa fa-facebook"></a>
        <a target="_blank" href="https://twitter.com/maobowen3" class="f2 fa fa-twitter"></a>
        <a target="_blank" href="http://weibo.com/maobowen3" class="f2 fa fa-weibo"></a>
        <a target="_blank" href="https://www.linkedin.com/in/bowen-mao" class="f2 fa fa-linkedin"></a>
    </footer>
    {% block post_body_block %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>